# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment variables
.env*

# Logs
*.log
logs/

# MongoDB local files
data/
*.lock

# Next.js build output
.next/
backend/.next/
frontend/.next/

# Build artifacts
build/
dist/

# macOS system files
.DS_Store